@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <form asp-page-handler="Search" class="d-flex">
        <input class="form-control me-2" type="search" asp-for="SearchTerm" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<div class="card-deck">

    @foreach (var item in Model.products)
    {

        <div class="card" style="width: auto;">
            <form asp-page-handler="CartAdd">
                <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-title">@item.itemId</h6>
                    <h5 class="card-title">Price: $@item.Price</h5>
                    <input type="hidden" name="item_url" value="@item.ImgUrl" />
                    <input type="hidden" name="item_name" value="@item.Name" />
                    <input type="hidden" name="item_price" value="@item.Price" />
                    <input type="hidden" name="item_itemid" value="@item.itemId" />
                    <input type="submit" value="Add to cart" />
                </div>
            </form>
        </div>
    }
</div>

@*<form asp-page-handler="Save">
        <input type="text" asp-for="Customer.Id" />
        <input type="text" asp-for="Customer.Firstname" />
        <input type="text" asp-for="Customer.Lastname" />
        <button type="submit">Save</button>
    </form>*@
